$maxWidth: 1480px;
//$mainColor: #000;
$mainColor: #000;
$mainTextColor: #000;
$templateSecondColor: #000;
//$mainBgColor: #f1f1f1;
//$mainBgColor: #f1f1f1;
$mainFont: 400 16px/1.5 'Open Sans', sans-serif;
$mainFontFamily: 'Open Sans', sans-serif;
$mainBgColor: #ffffff;
$black: #000;
$red: #B9192B;
$grey: #AEAEAE;
$yellow: #fdd02c;
$blue: #194be6;
$green: #5ebb2e;
$white: #ffffff;