button,
input,
select,
textarea {
  font: var(--font-family);
}

*:after,
*:before,
body,
body * {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 280px;
  width: 100%;
}

body,
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font: var(--font);
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1345px;
  padding: 0 20px;
}

.main {
  padding: 173px 0 42px 0;
  background: var(--bg-main);
  @media all and (max-width: 767px) {
    padding: 100px 0 24px 0;
  }
}

