button,
input,
select,
textarea {
  font: var(--font-family);
}

*:after,
*:before,
body,
body * {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 280px;
  width: 100%;
}

body,
body * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font: var(--font);
}

.inner {
  width: 100%;
  margin: 0 auto;
  max-width: 1345px;
  padding: 0 20px;
}

.main {
  padding: 173px 0 42px 0;
  background: var(--bg-main);
  @media all and (max-width: 767px) {
    padding: 100px 0 24px 0;
  }
}

.tippy-box {
    background-color: #1A1A1A;
    border-radius: 8px;
    padding: 6px 10px;

  //&[data-theme~='tomato'][data-placement^='top'] > .tippy-arrow::before {
  &[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: #1A1A1A;
  }
  &[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: #1A1A1A;
  }
  &[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: #1A1A1A;
  }
  &[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: #1A1A1A;
  }
}

.tippy-content {
  font-weight: 500;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.196px;
  color: #FFFFFF;
  text-align: center;
  padding: 0;

  a {
    color: #508AFF;
    text-decoration: underline;

    &:hover {
      color: #508AFF;
      text-decoration: none;
    }
  }
}


.tippy-box[data-theme~='important'] {
  background-color: #F24602;
  color: #fff;

  &[data-placement^='top'][data-theme~='important'] > .tippy-arrow::before {
    border-top-color: #F24602;
  }
  &[data-placement^='bottom'][data-theme~='important'] > .tippy-arrow::before {
    border-bottom-color: #F24602;
  }
  &[data-placement^='left'][data-theme~='important'] > .tippy-arrow::before {
    border-left-color: #F24602;
  }
  &[data-placement^='right'][data-theme~='important'] > .tippy-arrow::before {
    border-right-color: #F24602;
  }
}

