.header {
  color: #fff;
  padding: 24px 0 84px 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;

  &_media {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;

    @media all and (min-width: 1600px) {
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: calc(50vw - 799px);
        content: "";
        z-index: -1;
        background: #000;
        height: 161px;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: 799px;
        width: calc(50vw - 799px);
        content: "";
        z-index: -1;
        background: #000;
        height: 94px;
      }
    }

    svg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 1600px;
      height: 174px;
    }


    @media all and (max-width: 1100px) {
      left: 0;
      transform: none;

      svg {
        left: -80px;
        transform: none;
      }
    }

    @media all and (max-width: 767px) {
      svg {
        width: 990px;
        height: 105px;
      }
    }

  }


  .inner {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
    position: relative;
    z-index: 3;
  }

  &_logo {
    width: 70px;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &_nav {
    display: none;

    @media all and (max-width: 767px) {
      display: block;
      width: 29px;
      height: 29px;
      cursor: pointer;
      border: none;
      padding: 0;
      outline: none;
      background: url("../img/nav.svg") no-repeat center center;
    }
  }

  &_options {
    display: flex;
    gap: 10px;

    @media all and (max-width: 767px) {
      margin-left: auto;
    }
  }

  &_theme {
    margin: 7px 0 0 0;
    cursor: pointer;
    opacity: 0.14;
    background: none;
    border: none;
    outline: none;
    transition: all 0.3s;

    &:hover {
      opacity: 0.8;
    }

    html[data-theme="dark"] &[data-theme="dark"] {
      opacity: 1;
    }

    html[data-theme="light"] &[data-theme="light"] {
      opacity: 1;
    }
  }

  @media all and (max-width: 767px) {
    padding-bottom: 48px;
    padding-top: 12px;

    &_logo {
      width: 48px;
    }
  }

}