:root {
  --font: 400 16px/1.33 "Manrope", sans-serif;
  --font-family: "Manrope", sans-serif;

  --bg: #ECECEC;
  --bg-main: #F5F5F5;
  --bg-footer: #000;

  --text: #323232;
  --text-second: #141414;

  --table-border: #121212;

  --color-title: #191919;
  --color-title-seo: var(--color-title);

  --color-link: #7388FF;


  --sl-btn-bg: #ECECEC;
  --sl-btn-arr-hover: invert(30%) sepia(95%) saturate(5000%) hue-rotate(215deg) brightness(100%) contrast(90%);;
}

html[data-theme="dark"] {
  --bg: #000;
  --bg-main: #121212;
  --bg-footer: #121212;

  --text: #AFAFAF;
  --text-second: #AFAFAF;
  --table-border: #F5F5F5;

  --color-title: #E3E3E3;
  --color-title-seo: #AFAFAF;

  --color-link: #3A57FF;

  --sl-btn-bg: #272727;
  --sl-btn-arr-hover: invert(27%) sepia(95%) saturate(3000%) hue-rotate(215deg) brightness(95%) contrast(90%);
}

