.catalog {
  --el-bg: #fff;

  --tag-color: #fff;
  --tag-bg-new: #F94802;

  --buy-color: #fff;
  --buy-bg: linear-gradient(97.73deg, #7700CC -6.17%, #3C0066 102.94%);
  --buy-color-hover: #fff;
  --buy-bg-hover: linear-gradient(97.73deg, #F24602 -6.17%, #F24602 102.94%);

  html[data-theme="dark"] & {
    --el-bg: #3E3E3E;

    --tag-color: #121212;
    --tag-bg-new: #F9BF02;

    --buy-color: #121212;
    --buy-bg: #BB86FC;
    --buy-color-hover: #fff;
    --buy-bg-hover: #F24602;
  }


  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  align-items: stretch;

  @media all and (max-width: 1000px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media all and (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media all and (max-width: 359px) {
    grid-template-columns: repeat(1, 1fr);
  }

  &_el {
    padding: 15px;
    border-radius: 8px;
    background: var(--el-bg);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &_img {
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: flex;

    &:after {
      padding: 46.69% 0 0 0;
      display: block;
      content: "";
      line-height: 0;
      font-size: 0;
    }

    img {
      display: block;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &_tags {
    position: absolute;
    top: 24px;
    right: 24px;
    max-width: calc(100% - 48px);
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2.5px 8px 1px 8px;
      gap: 3px;
      min-width: 39px;
      height: 18px;
      color: var(--tag-color);
      border-radius: 3px;
      font-size: 10px;
      font-weight: 500;
    }

    &--new {
      background: var(--tag-bg-new);
    }
  }

  &_title {
    font-weight: 700;
    font-size: 16px;
    color: inherit;
    text-decoration: none;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }

  &_text {
    font-size: 12px;
    line-height: 14px;

    p {
      margin: 0;
    }
  }


  &_buy {
    margin-top: auto;
    display: flex;
    justify-content: space-between;

    @media all and (max-width: 479px) and (min-width: 360px) {
      flex-direction: column;
      gap: 8px;
    }

    &__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 9px;
      min-width: 69px;
      height: 31px;
      background: var(--buy-bg);
      border-radius: 5px;
      font-weight: 500;
      font-size: 12px;
      line-height: 17px;
      color: var(--buy-color);
      text-decoration: none;
      border: none;
      position: relative;
      transition: all 0.3s;

      &:hover {
        background: var(--buy-bg-hover);
        color:var(--buy-color-hover);
      }

    }
  }

  &_price {
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
  }
}
