.reviews {
  --el-bg: #fff;
  --text-color: #191919;
  --time-color: rgba(50, 50, 50, 0.3);
  --bg-ava: linear-gradient(270deg, #9500E3 0%, #52007D 100%);

  html[data-theme="dark"] & {
    --el-bg: #272727;
    --text-color: #AFAFAF;
    --time-color: rgba(175, 175, 175, 0.3);
    --bg-ava: #BB86FC;
  }

  padding: 5px 0 0 20px;
  margin: 0 0 0 -20px;
  width: 100vw;

  @media all and (min-width: 960px) {
    margin: 5px 0 0 0;
    width: 100%;
    padding: 0 45px 0 45px;
  }

  &--slider-prev,
  &--slider-next {
    display: none;
    align-items: center;
    width: 45px;
    top: 0;
    bottom: 0;
    background: var(--bg-main);
    cursor: pointer;
    position: absolute;
    z-index: 2;
    outline: none;

    i {
      width: 30px;
      height: 30px;

      position: relative;
      display: block;
      border-radius: 10px;
      background-color: var(--sl-btn-bg);

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-image: url("../img/prev.svg");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    &:hover i:before {
      filter: var(--sl-btn-arr-hover);
    }

    @media all and (min-width: 960px) {
      display: flex;
    }
  }

  &--slider-prev {
    left: 0;
    justify-content: start;
  }

  &--slider-next {
    right: 0;
    justify-content: end;

    i {
      transform: rotate(180deg);
    }
  }

  &_author {
    display: flex;
    align-items: center;
    gap: 10px;

    &__avatar {
      width: 40px;
      height: 40px;
      background: var(--bg-ava);
      border-radius: 50%;
      position: relative;
      display: flex;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }
    }

    &__name {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
    }
  }

  &_el {
    padding: 20px;
    background: var(--el-bg);
    color: var(--text-color);
    border-radius: 8px;
    flex-direction: column;
    height: auto;
    gap: 10px;
    display: flex;

    &__time {
      font-weight: 500;
      font-size: 12px;
      color: var(--time-color);
      margin-top: auto;
    }

    p {
      font-weight: 700;
      font-size: 14px;
      line-height: 19px;
      margin: 0;
    }
  }

}
